@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

html {
  font-family: "Koulen";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe993;
  color: #0e5a3c;
}

.imagem {
  text-align: center;
  margin-top: 5px;
}

.fundo {
  width: 30px;
}

main {
  background: url(./assets/ufabc-2.jpg) no-repeat center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.formlogin {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px 50px 80px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
}

.titulo {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.formlogin input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 2px;
  border-radius: 10px;
  transition: all linear 160ms;
  outline: none;
}

.icon {
  position: absolute;
  top: 20%;
  right: 20px;
  transform: translateY(-50%);
  background: url(./assets/olho.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon.hide{
  background: url(./assets/hide.png);
  background-size: cover;
}

.formlogin label {
  font-size: 15px;
  padding: 0;
}

.formlogin a {
  font-size: 12px;
  margin-left: 5px;
  color: #ffcc00;
  transition: 0.2s;
}

.formlogin a:hover {
  color: #0e5a3c;
}

.btn {
  text-align: center;
  background-color: #0e5a3c;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: 0.2;
  cursor: pointer;
  margin: 0 !important;
}

.btn:hover {
  background-color: #ffcc00;
}

footer {
  align-items: center;
  text-align: center;
  margin: auto;
}

.nome {
  color: #0e5a3c;
}
